

.navbar {
    
    display: flex;
    align-items: center;
    color:black;
    font-weight: bolder;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
 
}
.navbar-links li{
    list-style: none;

}
.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 6pt;
    display:block;
}
.navbar-links li:hover{
    background-color: lightblue;
}
.toggle-button{
    position:absolute;
    flex-direction: column;
    top: 15pt;
    right: 30pt;
    width:30px;
    height: 21px;
    display: none;
    justify-content: space-between;
}
.toggle-button .bar{
    height: 3px;
    width:100%;
    background-color: rgb(2, 2, 2);
    border-radius: 15%;
}
@media(max-width:600px){
    .toggle-button{
        display: flex;
        
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: 3pt 3pt;
        text-align: center;
    }
    .navbar-links.active{
        display: flex;
    }
    input{
        width: 300px;
        
    }
   
 


}

.desc{
    font-size: 30px;
    padding-bottom: 30px;
    
}
#contact{
    background-color: whitesmoke;
    margin-top: 180px;
    margin-bottom: 90px;
    padding-top: 30px;
}
#form{
    background-color: whitesmoke;
    padding-top: 90px;
    padding-bottom: 30px;
}
label{
    font-size: 24px;
}
table tr td{
    width: 210px;
}

#about{
    margin-top: 180px;
    padding-top: 90px;
    background-color: whitesmoke;
    padding-bottom: 75px;
    margin-bottom: 240px;
}
input{
    font-size: 24px;
    
}
img{
    margin-right: 15px;
    height: 75px;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 15%;

}
#customer{
    background-color: whitesmoke;
    margin-bottom: 280px;
    padding-bottom: 60px;
    
}
button{
    height: 45px;
    font-size: 21px;
    border-radius: 5%;
    background-color: black;
    color: white;
}
button:hover{
    background-color: grey;
}

.custom-images{
    margin-bottom: 210px;
    background-color: gray;
    padding-top: 90px;
    padding-bottom: 30px;

}
.slider{
    height: 300px;
    
}
#patner{
    background-color: whitesmoke;
    margin-bottom: 210px;
   
   
}
.cont-head{
    padding-bottom: 45px;
    padding-top: 45px;
}
